services:
  db:
    container_name: mongodb
    image: mongo:8
    ports:
      - '27017:27017'
    volumes:
      - dbmongo:/data/db
    env_file: 
      - .env
  redis:
    image: redis:8
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    command: redis-server --maxmemory 100mb --maxmemory-policy allkeys-lru --save 20 1 --requirepass ${REDIS_PASSWORD}
    env_file: 
      - .env
    volumes:
      - cache:/data
  app:
    container_name: app
    build: .
    restart: always
    ports:
      - '5000:5000'
    depends_on:
      - db
      - redis
    env_file:
      - .env
volumes:
  dbmongo:
    driver: local
  cache:
    driver: local