apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  labels:
    app: url-shortener-mongo
spec:
  ports:
    - port: 27017
      protocol: TCP
      name: mongo
  selector:
    app: url-shortener-mongo
  clusterIP: None
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pv-claim
  labels:
    app: url-shortener-mongo
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  labels:
    app: url-shortener-mongo
spec:
  selector:
    matchLabels:
      app: url-shortener-mongo
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: url-shortener-mongo
    spec:
      containers:
      - image: mongo:8
        name: mongo
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            memory: "2Gi"
            cpu: "250m"
          limits:
            memory: "4Gi"
            cpu: "500m"
        env:
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: url-shortener-secrets
              key: mongo
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            configMapKeyRef:
              name: settings
              key: mongo.root_user
        ports:
        - containerPort: 27017
          name: mongo
        volumeMounts:
        - name: mongo-persistent-storage
          mountPath: /data/db
      volumes:
      - name: mongo-persistent-storage
        persistentVolumeClaim:
          claimName: mongo-pv-claim