apiVersion: v1
kind: Service
metadata:
  name: redis-service
  labels:
    app: url-shortener-redis
spec:
  ports:
    - port: 6379
      protocol: TCP
      name: redis
  selector:
    app: url-shortener-redis
  clusterIP: None
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: redis-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pv-claim
  labels:
    app: url-shortener-redis
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: url-shortener-redis
spec:
  selector:
    matchLabels:
      app: url-shortener-redis
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: url-shortener-redis
    spec:
      containers:
      - image: redis:8
        name: redis
        imagePullPolicy: IfNotPresent
        command: ["redis-server"]
        args: ["--maxmemory", "500mb", "--maxmemory-policy", "allkeys-lru", "--save", "20 1", "--requirepass", "$(REDIS_PASSWORD)"]
        resources:
          requests:
            memory: "500Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: url-shortener-secrets
              key: redis
        ports:
        - containerPort: 6379
          name: redis
        volumeMounts:
        - name: redis-persistent-storage
          mountPath: /data/db
      volumes:
      - name: redis-persistent-storage
        persistentVolumeClaim:
          claimName: redis-pv-claim